.cardContainer {
    background-color: #3c3a3b;
    padding: 1em;
    display: flex;
}

.cardImage {
    width: 20em;
    margin-right: 1em;
}

.cardInfo {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.cardTitle {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0.5em;
}