.carrossel {
display: flex;
animation: bannermove 20s linear infinite;
}


.carrossel-linha {
width: 100%;
}

.carrossel-item {
list-style-type: none;
padding-left: 0;
margin: 0;
}

  
@keyframes bannermove {
0% {
    transform: translateX(0);
}
100% {
    transform: translateX(-50%);
}
}